

.testi_item img {
    border-radius: 5px;
    padding-right: 22px!important;
}

.blog_details h2 {
    
    padding: 15px;
   
   
}
.single-post-area .blog_details p {
    line-height: 32px;
}

.banner_area .banner_inner .banner_content h2 {
    color: #fff;
    font-size: 30px!important;
    font-family: "Rubik", sans-serif;
    margin-bottom: 10px;
    text-align: center;
    text-transform: capitalize!important;
    font-weight: 700;
}


.breadcrumb-item{color:#fff}
.breadcrumb-item+.breadcrumb-item::before {
    color: #ffffff!important;
}
.blog_right_sidebar .search_widget .input-group .btn-default {
    top: -11px;
    bottom: -5px;
  }
  
 .detials-left{
   
    padding: 10px;
}
.detials-left p {
   
    padding: 10px;
}
.detials-left img {
   
    padding: 10px;
    
    border: 1px #333 dashed;
}
.detials-right{

    padding: 10px;
    }
 .detials-right img{

padding: 10px;

border: 1px #333 dashed;
    }   
.detials-right p{

    padding: 10px;} 
    
 .single-post-area .navigation-area {
    border-top: 1px solid #e7e7e7;
    padding-top: 30px;
    margin-top: 60px;
    background: rgb(202 202 202 / 9%);
}    
 @media only screen and (min-width: 768px){
.collapse:not(.show) {
    display:none!important;
}
} 
    
 @media only screen and (max-width: 989px){
.testi_item img {
    padding: 22px;
    border-radius: 5px;
}
} 


@media only screen and (min-width: 1200px){
.header_area .navbar .nav .nav-item {
    margin-left: 0px!important;
    margin-right: 52px!important;
}
.home_banner_area .banner_inner .home_right_img img {
    width: 100%!important;
    }
    
    
  .about_area .about_img {
   
    left: -120px!important;
}    
.about_area .main_title p {
    margin-bottom: 20px;
    position: relative;
    right: -175px;
    text-align: left;
}
.about_area .primary_btn {
    margin-bottom: 20px;
    position: relative;
    right: -175px!important;
    text-align: left!important;
}

.about_area .main_title h2 {
    position: relative;
    margin-bottom: 15px;
    right: -179px;
    text-align: left;
} }    