{% extends 'base.html' %}
{% load i18n %}

{% block content %}








    <!--================ Start Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Blog</h2>
                   <div class="page_link1" style="color:#fff">
                     
                       <br>
                         {% if LANGUAGE_CODE  == 'en' %} 
                            <p >{{single_blog.created_at|date:'d-m-y'}}</p> 
                      
                          <a class="breadcrumb-item1"  style="color:#fff" href="/"> Home</a>
                        
                         {% else %}
                          
                       <br>
                       
                        <a class="breadcrumb-item1" style="color:#fff" href="/"> الرئيسية </a>
                       
                          {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Banner Area =================-->
        
    <!--================Blog Categorie Area =================-->
    <section class="blog_categorie_area section_gap_top">
        <div class="container">
            <div class="row">
            {% for banner_category in banner_category %}
     
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img src="{{banner_category.image.url}}" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="single-blog.html"><h5>{{banner_category}}</h5></a>
                                <div class="border_line"></div>
                                <p>Enjoy your social life together</p>
                            </div>
                        </div>
                    </div>
                </div>
             {% endfor %} 
            </div>
        </div>
    </section>
    <!--================Blog Categorie Area =================-->
    
    <!--================Blog Area =================-->
    <section class="blog_area">
        <div class="container">
            <div class="row"> 
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                    
               
                            {% for blog in  all_blogs %}
               
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="#">{{blog.tag}},</a>
                                        <a class="active" href="#">{{blog.category}}</a>
                                       
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="#">{{blog.author}} <i class="lnr lnr-user"></i></a></li>
                                        <li><a href="#">{{blog.created_at|date:'d - m - y'}}<i class="lnr lnr-calendar-full"></i></a></li>
                                        <li><a >{{blog.views}} Views<i class="lnr lnr-eye"></i></a></li>
                                        <!---
                                        <li><a href="#">{{single_blog.comment_count}} Comments<i class="lnr lnr-bubble"></i></a></li>-->
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="{{blog.image.url}}" alt="">
                                    <div class="blog_details">
                                    
                                    {% if LANGUAGE_CODE  == 'en' %} 
                                        
                                        <a href="{{blog.get_absolute_url}}"><h2>{{blog.title}}</h2></a>
                                        <p>{{blog.content|safe|truncatewords:20}}</p> 
                                    {% elif LANGUAGE_CODE  == 'ar' %} 
                                         <a href="{{blog.get_absolute_url}}"><h2>{{blog.title_ar}}</h2></a>
                                        <p>{{blog.content_ar|safe|truncatewords:20}}</p>
                                    {% else %}
                                         not support
                                    {% endif %}
                                        
                                        {% if blog.title_ar and blog.content_ar == "" %} 
                                        <a href="{{blog.get_absolute_url}}"><h2>{{blog.title}}</h2></a>
                                        <p>{{blog.content|safe|truncatewords:20}}</p> {% endif %}
                                        
                                         {% if blog.title and blog.content == "" %} 
                                        <a href="{{blog.get_absolute_url}}"><h2>{{blog.title_ar}}</h2></a>
                                        <p>{{blog.content_ar|safe|truncatewords:20}}</p> {% endif %}
                                        
                                        <a href="{{blog.get_absolute_url}}" class="primary_btn"><span>
                                        
                                        {% trans "View More" %}
                                        </span></a>
                                        
                                        
                                        
                                        
                                        
                                         
                                         
                                         
                                        
                                         
                                         
                                         
                                        
                                    </div>
                                </div>
                            </div>
                        </article>
                       
                        
                    {% endfor %}
                        
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                            
                                {% if all_blogs.has_previous %}
                                <li class="page-item">
                                    <a href="?page= {{all_blogs.previous_page_number}}" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">
                                           
                                            <span class="lnr lnr-chevron-left"></span>
                                           
                                            
                                        </span>
                                        
                                        
                                    </a>
                                </li>
                                {% endif %}  
                                
                                {% for page in all_blogs.paginator.page_range %}
                                {% if all_blogs.number == page %}
                               
                                <li class="page-item active"><a href="?page={{page}}" class="page-link">{{page}}</a></li>
                                {% else %}
                                <li class="page-item"><a href="?page={{page}}" class="page-link">{{page}}</a></li>
                               
                                {% endif %} 
                                {% endfor %} 
                                
                                
                                {% if all_blogs.has_next %}
                                <li class="page-item">
                                    <a href="?page= {{all_blogs.next_page_number}}" class="page-link" aria-label="Next">
                                        <span aria-hidden="true">
                                        
                                            <span class="lnr lnr-chevron-right"></span>
                                        </span>
                                        
                                        
                                    </a>
                                </li>
                                {% endif %}  
                                
                                
                            </ul>
                        </nav>
                        
                        
                        
                    </div>
                </div>
                
                
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                        
                             <!---محرك البحث-->
                            <form method="GET" action="" class="form-inline ml-3">
                                <div class="input-group" style="width: 100%;">
                                  <input class="form-control form-control-navbar" name="search_name" type="search" placeholder="Search" aria-label="Search">
                                  <button class="btn btn-default" type="submit">
                                    <i class="lnr lnr-magnifier"></i>
                                </button>
                                  <div class="input-group-append">
                                  
                                  </div>
                                </div>
                              </form>
                        <!--------------------------------------------------->
                        
                        
                           
                            <div class="br"></div>
                        </aside>
                        {% for about in  about %}  
                        <aside class="single_sidebar_widget author_widget">
                            <img class="author_img rounded-circle" src="{{about.image.url}}" alt="">
                            <h4> {{about.name}}</h4>
                            <p>{{about.short_des}}</p>
                            <div class="social_icon">
                                <a href="{{about.fb_link}}"><i class="fa fa-facebook"></i></a>
                                <a href="{{about.twitter_link}}"><i class="fa fa-twitter"></i></a>
                                <a href="{{about.github_link}}"><i class="fa fa-github"></i></a>
                               
                            </div>
                            <p>{{about.des}}</p>
                            <div class="br"></div>
                        </aside>
                        {% endfor %}
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                         <aside class="single_sidebar_widget popular_post_widget">
                        
                        {% for name_wedgit in name_wedgits %}
                            <h3 class="widget_title">{{name_wedgit.popular_post}}</h3>
                            {% endfor %}
                         <article class="col-xs-6 col-sm-3 col-lg-12 mt-3 pointer bg-hover-white-smoke p-1">   
                            
                            {% for popular_blog in popular_blogs %}
                               
        {% if LANGUAGE_CODE  == 'en' %}
       <div  class="row align-items-center">
        
        <div class="media post_item" style="margin-top: -31px;
    background: #7e50ec29;
    padding: 7px;">
                              <img class="img-fluid" src="{{popular_blog.image.url}}" alt="post" style="width: 75px;max-height: 75px;">
                              <div class="col-lg-8">
                                <div class="media-body">
                                   <a href="{{popular_blog.get_absolute_url}}"><h3 class="mb-0 small">{{popular_blog.title|safe|truncatewords:7}}</h3></a>
                                     <p>{{popular_blog.created_at|date:'d-m-y'}}</p>
                                </div>
                            </div></div></div>
                            <div class="br"></div>
        {% else %}
       <div  class="row align-items-center">
        <div class="media post_item" style="margin-top: -31px;
    background: #7e50ec29;
    padding: 7px;">
                                <img class="img-fluid" src="{{popular_blog.image.url}}" alt="post" style="width: 75px;max-height: 75px;">
                                <div class="col-lg-8">
                                <div class="media-body">
                                     <a href="{{popular_blog.get_absolute_url}}"><h3 class="mb-0 small">{{popular_blog.title_ar|safe|truncatewords:7}}</h3></a>
                                    <p>{{popular_blog.created_at|date:'d-m-y'}}</p>
                                </div>
                                </div>
                            </div></div>
                            <div class="br"></div>
     
     
        {% endif %}
     
      </article>
   
    
                            {% endfor %}
                            <div class="br"></div>
                        </aside>
                        
                        
                        {% for ad in ads %}
                      
                        <aside class="single_sidebar_widget ads_widget">
                            
                            <p>{{ad.ad_code_1}}</p>
                            <div class="br"></div>
                        </aside>
                        {% endfor %}
                        
                        
                        
                        
                        
                        {% for ad in ads %}
                      
                        <aside class="single_sidebar_widget ads_widget">
                            
                            <p>{{ad.ad_code_1}}</p>
                            <div class="br"></div>
                        </aside>
                        {% endfor %}
                        
                        <aside class="single_sidebar_widget post_category_widget">
                        
                            {% for name_wedgit in name_wedgits %}
                            <h3 class="widget_title">{{name_wedgit.post_catgories}}</h3>
                            {% endfor %}
                            
                              {% for all_category in all_category %}

                            <ul class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p> {{all_category}}</p>
                                        <p>{{all_category.post_count}}</p>
                                    </a>
                                </li>
                               											
                            </ul>
                            
                            {% endfor %}
                            
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget newsletter_widget">
                        
                            {% for name_wedgit in name_wedgits %}
                            <h3 class="widget_title">{{name_wedgit.newsletter}}</h3>
                            {% endfor %}
                        
                            <p>
                                get update from anywhere
                            </p>
                            <i class="fa fa-envelope" aria-hidden="true" style="font-size: xx-large;
                            color: #4458dc;
                            padding: 9px;"></i>
                            <div class="form-group d-flex flex-row">
                                <div class="input-group">        
                                     
                                {% if messages %}
                                {% for message in messages %}
                                <div style="margin: 0 auto;" {% if message.tags %} class="{{message.tags}}" {% endif %} role="alert">
                                  {{message}}
                                  </div>
                                {% endfor %}
                                {% else %}
                              
                                    <form  method="POST"  class="form-control" style="font-size: 10px;
                                    line-height: 24px;
                                    background: #fff0;
                                    font-weight: bold;
                                    color: #131111db;
                                    border: 0px solid #eeeeee00;
                                    border-left: 0px;
                                    border-radius: 0px;
                                " id="inlineFormInputGroup">
                                        {% csrf_token %} 
                                       
                                        {{form}}
                                            <button class="bbtns" type="submit" style="line-height: 21px;
                                            display: inline-block;
                                            font-weight: 500;
                                            padding: 2px;">Subscribe</button>
                                      
                                        </form>
                                        {% endif %}              
                                  
                                    </div>
                                </div>
                                <div class="br"></div>	
                            <a  href="/newsletters/unsubscribe.html/" class="text-bottom">You can unsubscribe at any time</a>	
                            <div class="br"></div>
                            
                            
                        </aside>
                        <aside class="single-sidebar-widget tag_cloud_widget">
                           
                            {% for name_wedgit in name_wedgits %}
                            <h3 class="widget_title">{{name_wedgit.tag_clouds}}</h3>
                            {% endfor %}
                           
                           
                            <ul class="list">
                            
                            {% for tag in all_tag %}
                              
                            
                                <li><a href="">{{tag}}</a></li>
                            {% endfor %}   
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
    
  
    
    
    
{% endblock content %}
    