

{% extends 'base.html' %}


{% block content %}
  

    <!--================ Start Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Contact Us</h2>
                    <div class="page_link">
                        <a href="index.html">Home</a>
                        <a href="contact.html">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Banner Area =================-->
    
    <!--================Contact Area =================-->
    <section class="contact_area section_gap">
    
        <div class="container">
         {% block title %}      
        <h3>Submit Your feedback</h3>   {{ block.super }}         
              {% endblock %}
  
             <br>

            <div class="row">
            
                <div class="col-lg-3">
               
              
                    <div class="contact_info">
                     {% for contact in ContactInfo %}
                        <div class="info_item">
                            <i class="lnr lnr-home"></i>
                            <h6>{{contact.address}}</h6>
                             <p>{{contact.address_details}}</p>
                            
                        </div>
                        <br>
                        <div class="info_item">
                            <i class="lnr lnr-phone-handset"></i>
                            <h6><a href="#">{{contact.phone}}</a></h6>
                            <p>{{contact.work_time}}</p>
                        </div>
                        <br>
                        <div class="info_item">
                            <i class="lnr lnr-envelope"></i>
                            <h6><a href="#">{{contact.email}}</a></h6>
                            <p>{{contact.Send_any_time}}</p>
                        </div>
                        <br>
                         {% endfor %}
                    </div>
                   
                </div>
                <div class="col-lg-9">
         
 
<style>
.contact_info {
   padding-top: 33px;
    padding-right: 33px;
    margin: 8px;
}


table {
    background-color: transparent;
    width: 100%!important;
}
 input {
    overflow: visible;
    width: 100%;
    padding: 8px;
    margin: 10px;
}
.contact_form .form-group textarea {
   padding: 8px;
    margin: 10px;
    width: 100%;
    height: 150px;
}

</style>


    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}   
                
      <form class="row contact_form"  method="post" id="contactForm" novalidate="novalidate">
        {% csrf_token %}
                        <div class="col-md-9">
                            <div class="form-group">
                               
                              {% csrf_token %}
            <table>
            {{ formx.as_table }}                   
                <tr>
                    <td></td>
                    <td><input type="submit" value="Submit"></td>
                </tr>
            </table>  
                               
                               
                        </div>
                       
                      
                    </form>           
       
                   
                </div>
            </div>
            
          
             <!--mapBox
            <div id="mapBox" class="mapBox" 
                data-lat="40.701083" 
                data-lon="-74.1522848" 
                data-zoom="13" 
                data-info="PO Box CT16122 Collins Street West, Victoria 8007, Australia."
                data-mlat="40.701083"
                data-mlon="-74.1522848">
            </div>
            -->
        
        </div>
    </section>
    <!--================Contact Area =================-->
        
     
{% endblock content %}