

{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  


    <!--================ Start Banner Area =================-->
    <section class="banner_area"  style="color:#fff">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                 
                 
                  {% if LANGUAGE_CODE  == 'en' %} 
                                        <h2>{{single_blog.title|safe|truncatewords:5}}</h2>
                                      
                                        
                                        {% else %}
                                         <h2>{{single_blog.title_ar|safe|truncatewords:5}}</h2>
                                      
                            {% endif %}
                 
                 
                 
                                   
                                    
                                    
                                    
                    <div class="page_link1" style="color:#fff">
                     
                       <br>
                         {% if LANGUAGE_CODE  == 'en' %} 
                            <p >{{single_blog.created_at|date:'d-m-y'}}</p> 
                      
                          <a class="breadcrumb-item"  style="color:#fff" href="/"> Home</a>
                        <a class="breadcrumb-item"  href="/blog">Blog</a>
                        <a class="breadcrumb-item"  href="{{blog.get_absolute_url}}">{{single_blog.title|safe|truncatewords:3}}</a>
                         {% else %}
                            <a >{{single_blog.created_at|date:'d-m-y'}}</a> 
                       <br>
                       
                        <a class="breadcrumb-item"  href="/"> الرئيسية </a>
                        <a class="breadcrumb-item"  href="/blog"> المدونة </a> 
                           <a class="breadcrumb-item"  href="{{blog.get_absolute_url}}">{{single_blog.title_ar|safe|truncatewords:3}}</a>
                          {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Banner Area =================-->
    
    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section_gap">
        <div class="container">
            <div class="row">
               
                <div class="col-lg-8 posts-list">
                   
                   
                    <div class="single-post row">
                   
                  
                    
                        
                     
                   
                        <div class="col-lg-3  col-md-3">
                            <div class="blog_info text-right">
                                <div class="post_tag">
                                   
                                    <a class="active" href="#">{{single_blog.category}},</a>
                                
                                </div>
                                <ul class="blog_meta list">
                                    <li><a href="#">{{single_blog.author}}<i class="lnr lnr-user"></i></a></li>
                                    <li><a href="#">{{single_blog.created_at|date:'d - m - y'}}<i class="lnr lnr-calendar-full"></i></a></li>
                                    <li><a >{{single_blog.views}}  Views<i class="lnr lnr-eye"></i></a></li>
                                    <li><a href="#">{{comment_count}} Comments<i class="lnr lnr-bubble"></i></a></li>
                                </ul>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 blog_details">
                            <div class="feature-img">
                                <img class="img-fluid" src="{{single_blog.image.url}}" alt="">
                            </div>	
                            
                           
                           
                            {% if LANGUAGE_CODE  == 'en' %} 
                                        <h2>{{single_blog.title}}</h2>
                                       <p class="excert">{{single_blog.content}}</p>
                                        
                                        {% else %}
                                         <h2>{{single_blog.title_ar}}</h2>
                                         <p class="excert">{{single_blog.content_ar}}</p>
                            {% endif %}
                                        
                           
                           
                           
                        </div> 
                   
                      
                    </div>
                  
                  
                  
                  
                  <!---الكود الخاص بالسابق والتالي داخل المقال-->

                    <div class="navigation-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                <div class="thumb">
                                    <a href="#"><img class="img-fluid" src="img/blog/prev.jpg" alt=""></a>
                                </div>
                                
                                {% if previous_post %}
                                <div class="detials">
                                
                                    <p>Prev Post</p>
                                    <a href="{% url 'blog:single_blog' previous_post.slug %}"><img class="img-fluid w-25 h-25 " src="{{previous_post.image.url}}" alt=""></a>
                                    <a href="{% url 'blog:single_blog' previous_post.slug %}"><h5>{{previous_post.title}}</h5></a>
                                    
                                </div>
                                {% else %}
                                This is the first blog!
                                {% endif %}
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                {% if next_post %}
                                <div class="detials">
                                    <p>Next Post</p>
                                    <a href="{% url 'blog:single_blog' next_post.slug %}"><img class="img-fluid w-25 h-25 " src="{{next_post.image.url}}" alt=""></a>
                                    <a href="{% url 'blog:single_blog' next_post.slug %}"><h5>{{next_post.title}}</h5></a>
                                   
                                </div> 
                                {% else %}
                                This is the last blog!
                                {% endif %}
                                
                                <div class="thumb">
                                   
                                </div>										
                            </div>									
                        </div>
                    </div>
                <!----------------------------------------------------------------------------------->
                    
                    
                    
                    
                  
                   <!--التعليقات-->
                    <div class="comments-area">
                        <h4>( {{comment_count}} ) Comments</h4>
                        
                        {% if not single_blog.Comments.all %}
                            no comments yet!
                        {% endif %}
                            
                        {% for comment in single_blog.Comments.all %}
                          
                        
                        <div class="comment-list" style="background: #fff;
                            padding: 8px;
                            border: 1px #ececec solid;">
                            <div class="single-comment justify-content-between d-flex">
                           
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="img/blog/c1.jpg" alt="">
                                    </div>
                                    <div class="desc">
                                  
                                        <h5><a href="#"> {{comment.name}}</a></h5>
                                        <p class="date">{{comment.date_added}} </p>
                                        <p class="comment ">
                                            {{comment.body}}
                                        </p>
                                    </div>
                                    
                                </div>
                               
                               
                               
                            </div>
                           
                             <div class="reply-btn m-5">
  <button class="btn-reply text-uppercase" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    reply
  </button>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
  </div>
</div>
                                        
                                </div>
                            
                            
                        </div>	
                       <br>            				
                                   				
                    {% endfor %}
                    </div>
                    
                    <style>
                    textarea {
                        overflow: auto;
                        resize: vertical;
                            
                              height: 111px;
                                            }
                              #id_email{
                                  
                              
                                height: 36px;
                                            }
                                            #id_name {
                                           
                                            
                                              height: 36px;
                                                  }
                    
                    </style>
                    
                    <div class="comment-form text-left w-full " style="background: rgb(214 196 196 / 34%);">
                        <h4>Leave a Reply</h4>
                        <form method="POST">
                        {% csrf_token %}
                            <div class="form-group ">
                               
                                
                               {{comment_form| crispy }}
                           
                            <button href="#" class="primary-btn primary_btn medium$ heroku login" tape='submit'><span>add Comment</span></button>
                        </div>
                        </form>
                     
                    </div>
                </div>
                
                
                
                
                
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                    
                         <!---محرك البحث-->      
                    <!--
                        <aside class="single_sidebar_widget search_widget">
                         <form method="GET" action="" class="form-inline ml-3">
                                <div class="input-group" style="width: 100%;">
                                  <input class="form-control form-control-navbar" name="search_name" type="search" placeholder="Search" aria-label="Search">
                                  <button class="btn btn-default" type="submit">
                                    <i class="lnr lnr-magnifier"></i>
                                </button>
                                  <div class="input-group-append">
                                  
                                  </div>
                                </div>
                              </form>
                         
                            <div class="br"></div>
                        </aside> --->
                        
                        {% for about in  about %}  
                        <aside class="single_sidebar_widget author_widget">
                            <img class="author_img rounded-circle" src="{{about.image.url}}" alt="">
                            <h4> {{about.name}}</h4>
                            <p>{{about.short_des}}</p>
                            <div class="social_icon">
                                <a href="{{about.fb_link}}"><i class="fa fa-facebook"></i></a>
                                <a href="{{about.twitter_link}}"><i class="fa fa-twitter"></i></a>
                                <a href="{{about.github_link}}"><i class="fa fa-github"></i></a>
                               
                            </div>
                            <p>{{about.des}}</p>
                            <div class="br"></div>
                        </aside>
                        {% endfor %}
                        
                        
                        <aside class="single_sidebar_widget popular_post_widget">
                        
                        {% for name_wedgit in name_wedgits %}
                            <h3 class="widget_title">{{name_wedgit.popular_post}}</h3>
                            {% endfor %}
                         <article class="col-xs-6 col-sm-3 col-lg-12 mt-3 pointer bg-hover-white-smoke p-1">   
                            
                            {% for popular_blog in popular_blogs %}
                               
        {% if LANGUAGE_CODE  == 'en' %}
       <div  class="row align-items-center">
        
        <div class="media post_item" style="margin-top: -31px;
    background: #7e50ec29;
    padding: 7px;">
                              <img class="img-fluid" src="{{popular_blog.image.url}}" alt="post" style="width: 75px;max-height: 75px;">
                              <div class="col-lg-8">
                                <div class="media-body">
                                   <a href="{{popular_blog.get_absolute_url}}"><h3 class="mb-0 small">{{popular_blog.title|safe|truncatewords:7}}</h3></a>
                                     <p>{{popular_blog.created_at|date:'d-m-y'}}</p>
                                </div>
                            </div></div></div>
                            <div class="br"></div>
        {% else %}
       <div  class="row align-items-center">
        <div class="media post_item" style="margin-top: -31px;
    background: #7e50ec29;
    padding: 7px;">
                                <img class="img-fluid" src="{{popular_blog.image.url}}" alt="post" style="width: 75px;max-height: 75px;">
                                <div class="col-lg-8">
                                <div class="media-body">
                                     <a href="{{popular_blog.get_absolute_url}}"><h3 class="mb-0 small">{{popular_blog.title_ar|safe|truncatewords:7}}</h3></a>
                                    <p>{{popular_blog.created_at|date:'d-m-y'}}</p>
                                </div>
                                </div>
                            </div></div>
                            <div class="br"></div>
     
     
        {% endif %}
     
      </article>
   
    
                            {% endfor %}
                            <div class="br"></div>
                        </aside>
                        
                        
                        {% for ad in ads %}
                      
                        <aside class="single_sidebar_widget ads_widget">
                            
                            <p>{{ad.ad_code_1}}</p>
                            <div class="br"></div>
                        </aside>
                        {% endfor %}
                        
                        
                        
                        
                        
                        <aside class="single_sidebar_widget post_category_widget">
                        
                            {% for name_wedgit in name_wedgits %}
                            <h3 class="widget_title">{{name_wedgit.post_catgories}}</h3>
                            {% endfor %}
                            
                              {% for all_category in all_category %}

                            <ul class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p> {{all_category}}</p>
                                        <p>{{all_category.post_count}}</p>
                                    </a>
                                </li>
                               											
                            </ul>
                            
                            {% endfor %}
                            
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget newsletter_widget">
                        
                            {% for name_wedgit in name_wedgits %}
                            <h3 class="widget_title">{{name_wedgit.newsletter}}</h3>
                            {% endfor %}
                        
                            <p>
                                get update from anywhere
                            </p>
                            <i class="fa fa-envelope" aria-hidden="true" style="font-size: xx-large;
                            color: #4458dc;
                            padding: 9px;"></i>
                            <div class="form-group d-flex flex-row">
                                <div class="input-group">        
                                     
                                {% if messages %}
                                {% for message in messages %}
                                <div style="margin: 0 auto;" {% if message.tags %} class="{{message.tags}}" {% endif %} role="alert">
                                  {{message}}
                                  </div>
                                {% endfor %}
                                {% else %}
                              
                                    <form  method="POST"  class="form-control" style="font-size: 10px;
                                    line-height: 24px;
                                    background: #fff0;
                                    font-weight: bold;
                                    color: #353232db;
                                    border: 0px solid #eeeeee00;
                                    border-left: 0px;
                                    border-radius: 0px;
                                " id="inlineFormInputGroup">
                                        {% csrf_token %} 
                                       
                                        {{form}}
                                            <button class="bbtns" type="submit" style="line-height: 21px;
                                            display: inline-block;
                                            font-weight: 500;
                                            padding: 2px;">Subscribe</button>
                                      
                                        </form>
                                        {% endif %}              
                                  
                                    </div>
                                </div>
                                <div class="br"></div>	
                            <a  href="/newsletters/unsubscribe.html/" class="text-bottom">You can unsubscribe at any time</a>	
                            <div class="br"></div>
                            
                            
                        </aside>
                        <aside class="single-sidebar-widget tag_cloud_widget">
                           
                            {% for name_wedgit in name_wedgits %}
                            <h3 class="widget_title">{{name_wedgit.tag_clouds}}</h3>
                            {% endfor %}
                           
                           
                            <ul class="list">
                            
                            {% for tag in all_tag %}
                              
                            
                                <li><a href="">{{tag}}</a></li>
                            {% endfor %}   
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
        
{% endblock content %}