html{
  direction: rtl;
}

.testi_item img {
    border-radius: 5px;
    padding-left: 22px!important;
}




h1, h2, h3, h4, h5, h6, p,.blog_details h2,span  {
   font-family: 'DroidArabicKufiRegular';
   font-weight: normal;
   font-style: normal;
  
   text-align: right;
}
html {direction:rtl;
font-family:"DroidArabicKufiRegular", "Droid Sans", sans-serif;
font-size:14px;

}

.blog_right_sidebar .popular_post_widget .post_item + .post_item {  
    padding: 40px;
}



.blog_details h2 {
    padding: 15px;
}

.single-post-area .blog_details p {
    line-height: 32px;
}

.banner_area .banner_inner .banner_content .page_link a:before {
    content: ""!important;
    
   } 

.banner_area .banner_inner .banner_content h2 {
    color: #fff;
    font-size: 30px!important;
    font-family:"DroidArabicKufiRegular", "Droid Sans", sans-serif!important;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

 .breadcrumb-item{color:#fff}
.breadcrumb-item+.breadcrumb-item::before {
    color: #ffffff!important;
}
  
 .blog_right_sidebar .search_widget .input-group .btn-default {
    left: 0!important;
    right: 90%!important;
    top: -11px;
    bottom: -5px;
    width: 0%!important;
  }
 .lnr-calendar-full:before {
    content: "\e836";
    float: right;
    padding-left:8px
} 
.lnr-user:before {
    content: "\e82a";
    float: right;
    padding-left:8px
}  
.lnr-eye:before {
    content: "\e81b";
    float: right;
    padding-left:8px
}
.blog_info .post_tag {
    float: right;
}
.blog_right_sidebar .author_widget h4 ,p{
    text-align: center;
}
.detials-left{
    text-align: left;
    padding: 10px;
}
.detials-left p {
    text-align: left;
    padding: 10px;
}
.detials-left img {
    text-align: left;
    padding: 10px;
    
    border: 1px #333 dashed;
}
.detials-left h5 {
    text-align: left;
    padding: 10px;
    
   
}
.detials-right{
text-align: right;
    padding: 10px;
    }
 .detials-right h5{
text-align: right;
    padding: 10px;
    }   
 .detials-right img{
text-align: right;
padding: 10px;

border: 1px #333 dashed;
    }   
.detials-right p{
text-align: right;
    padding: 10px;} 
    
 .single-post-area .navigation-area {
    border-top: 1px solid #e7e7e7;
    padding-top: 30px;
    margin-top: 60px;
    background: rgb(202 202 202 / 9%);
}  

.comments-area {
    background: #fafaff;
    
    
    text-align: right;

} 
label {
    display: inline-block;
    float: right;
    text-align: right;
}
.footer_area .footer_logo h4 {
    text-align: center;
}
@media only screen and (min-width: 768px){

.collapse:not(.show) {
    display:none!important;
}
}
@media only screen and (max-width: 989px){

button, select {

    background: #333!important;
    color: #fff;text-align:left;
}
.language-Select{
background: #171717;

text-align:left;
    color: #fff;
    }

.languageform   select  option{
background: #171717;text-align:left;
    color: #fff;
    }


.languageform   select {
background: #171717;text-align:left;
    color: #fff;
    width:70px;
}
.testi_item img {
    padding: 22px;
    border-radius: 5px;
}
}


@media only screen and (min-width: 992px){


.home_banner_area .banner_inner .home_right_img img {
    width: 100%!important;
    }
    
    
.call-us-now{
position: absolute!important;
    right: 75%!important;
    top: 20%!important;
    }   
.home_banner_area .banner_inner .banner_content h3:after {  
    left: 13%!important;
}    
.about_area .about_img {
   
    right: -120px!important;
}  

.about_area .main_title p {
    margin-bottom: 20px;
    position: relative;
    left: -215px;
    text-align: right;
}

.about_area .main_title h2 {
    position: relative;
    margin-bottom: 15px;
    left: -211px;
    text-align: right;
}
.about_area .primary_btn {
    margin-bottom: 20px;
    position: relative;
    right: -40px!important;
    text-align: right!important;
}

.Portfolio_Area .main_title h2 {
    
    text-align: center;
}
.features_area .main_title h2 {
   
    text-align: center;
}
.testimonial_area .main_title h2 {
   
    text-align: center;
}
.main_title p {
    text-align: right;
    margin-bottom: 0px;
}

 



.text-info-client {
    
    left: -39px!important;
    font-weight: 600!important;
   
}
.subscription_box h2 {
    text-align: center;
}
.subscription_box p {
    text-align: center;
}
.subscription_box label {
    text-align: center;
    float: none;
}
.header_area .navbar .nav .nav-item {
    margin-right: 0px!important;
    margin-left: 52px!important;
}
}

.contact_info .info_item i {
    right: -52px!important;
    float: right;
    text-align: right;
}

.client-info:before {
 
    position: absolute;
    top: -25px;
    right: -50px!important;
    
    
   
}

.call-now span {
    padding-left: 42px!important;
}



.feature_item h4 {
   
    text-align: center!important;
   
}

.single-brand-item:hover img {
    filter: brightness(77%)!important;
    -o-filter: brightness(77%)!important;
    -ms-filter: brightness(77%)!important;
    -moz-filter: brightness(77%)!important;
    -webkit-filter: brightness(77%)!important;
}

/*--------------start skills-----------------------*/
.skills,
.skills .skill,
.skills .skill .skill-title,
.skills .skill .skill-bar {
   width: 100%;
   float: right;
}

.skills {
   padding:15px;
    float: right;
}

.skills .skill {
   margin-bottom: 30px;
    float: right;
}

.skills .skill  .skill-title {
   color: rgb(255 255 255);
    text-shadow: 0px 1px #010139;
    text-align: right;
    margin-top: 2px;
    margin-right: 15px;
    padding: 0px;
    font-weight: 800;
    font-size: 13px;
     float: right;
}

.skills .skill .skill-bar {
 float: right;
   width: 0;
   height: 21px;
   background: #f0f0f0;
   transition: 1s cubic-bezier(1, 0, .5, 1);
   -webkit-transition: 1s cubic-bezier(1, 0, .5, 1);
   -ms-transition: 1s cubic-bezier(1, 0, .5, 1);
}

.skills.active .skill .skill-bar {
  width: 85%;
    position: relative;
    left: -12px;
    float: right;
}


.skills .skill .skill-bar span {
    float: right;
   width: 0%;
   background: #1D91F2;
   height: 21px;
   position: relative;
   transition: 1s cubic-bezier(1, 0, .5, 1);
   -webkit-transition: 1s cubic-bezier(1, 0, .5, 1);
   -ms-transition: 1s cubic-bezier(1, 0, .5, 1);
}
.skill-image{
    position: relative;
    top: -6px;
    float: right;
}
.skills .skill .skill-bar span b {
     float: right;
    color: rgb(255 255 255);
    text-shadow: 0px 1px #010139;
    width: 100%;
    position: relative;
    text-align: left;
    opacity: .8;
    font-size: 13px;
     right: -4px;
    font-weight: 600;
    top: -27px;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900&subset=latin,latin-ext);

/*--------------end skills-----------------------*/


 /*------dropdown call----------*/
.dropbtn {
  
  color: #333;
  padding: 16px;
  font-size: 28px;
   background-color: transparent!important;
    border: 1px rgb(213, 201, 243) solid;
  cursor: pointer;
}

.dropdown {
float:left;
  position: relative;
  
 
 
}

.dropdown-content {
  display: none;
  position: absolute;
  right:0;
   border: 1px #ddd solid;
  background-color: transparent!important;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.phone-icon {
    font-size: 44px!important;
  
    padding: 5px;
}
.dropdown-content a {
  direction: ltr;
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {  background-color: transparent;
    border: 1px #ddd solid;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn { background-color: transparent;
    border: 1px #ddd solid;}
    
 .phone-icon {
   transform:  rotate(274deg);  
     animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {transform: rotate(200deg);}
    
}

.experience{float: right!important;}   

.client-info .smll {
    margin-right: 40px!important;
}   

.dropdown .primary_btn{
border-radius: 5px!important;
    background-origin: border-box!important;
    background-clip: content-box, border-box!important;
   
   
   background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee)!important;
    border: double 2px transparent!important;
    box-shadow: 0px 10px 30px rgb(118 85 225 / 30%)!important;
}
.client-info .smll {
    text-align: right!important;
    }
@media only screen and (max-width: 767px){
.experience-info {
    padding-bottom: 150px!important;
   
}
 .experience  {
    float: right!important;
	}
 .dropdown {
    float: right!important;
	}
	}
	
@media only screen and (min-width: 772px){
.client-info .lage {
    color: #854fee;
    font-family: "Rubik", sans-serif;
    font-size: 100px;
    font-weight: 700;
    top: -17px!important;
    left: 22px!important;
 }

}
 /*------ end dropdown call----------*/