@media (max-width: 775.98px){
.main_title h2 {
    text-align: center!important;
    }
.table-responsive-sm {
    display: block;
    width: 30.33%!important;
    border: transparent;
    margin: 0 auto!important;
    overflow-x:hidden !important;
    }
    .single-brand-item {
    width: 70px!important;
    height: 70px!important;
    cursor: none!important;
    margin-bottom: 30px!important;
    border: 1px solid #ddd!important;
    
    }
    .single-brand-item img {
    max-width:70px!important;
    padding: 18px!important;
}
    }
@media (max-width: 991px){
.home_banner_area .banner_inner .home_right_img img {
    max-width: 92%!important;
    text-align: center!important;
    padding: 30px!important;}
.home_banner_area .banner_inner .banner_content {
    margin-top: -20px!important;
    }}
@media (max-width: 780px){
.home_banner_area .banner_inner .banner_content {
    padding: 30px 30px!important;
    padding-top: 0px!important;
    margin-top: -125px!important;
}}
@media (max-width: 991px){
.home_banner_area .banner_inner .home_right_img {
    display: block!important;
    padding-top: 0px!important;
}}
.about_area .about_img img{
    filter: brightness(98%)!important;
    -o-filter: brightness(98%)!important;
    -ms-filter: brightness(98%)!important;
    -moz-filter: brightness(98%)!important;
    -webkit-filter: brightness(98%)!important;
    border-radius: 50%!important;
   
    width: 70%!important;
    border: 2px rgb(126 80 236 / 46%) solid!important;
    height: 70%!important;
    margin: 57px!important;
    margin-top: -42px!important;
    
    }
    @media (max-width: 991px){
.about_area .about_img {
    display: block!important;
} }
.about_area .about_img:hover img{
    filter: brightness(103%)!important;
    -o-filter: brightness(103%)!important;
    -ms-filter: brightness(103%)!important;
    -moz-filter: brightness(103%)!important;
    -webkit-filter: brightness(103%)!important;
    border-radius: 50%!important;
   
    width: 68%!important;
    border: 2px rgb(126 80 236 / 46%) solid!important;
    height: 68%!important;
    margin: 57px!important;
    margin-top: -42px!important;
    
    }
.single-brand-item:hover img {
    filter: brightness(88%)!important;
    -o-filter: brightness(88%)!important;
    -ms-filter: brightness(88%)!important;
    -moz-filter: brightness(88%)!important;
    -webkit-filter: brightness(88%)!important;
}
