	{% load static %}
	{% load i18n %}
	<!--================ Start Header Area =================-->
	
	
<style>
.nav>li>a:focus, .nav>li>a:hover {
    width: 100px;
    height: auto;
    text-align: center;
    border-radius: 5%;
    background-color: rgb(248 249 250 / 89%);
}
</style>


	<header class="header_area" style="opacity: .9;">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					
				  
			
					<!-- Brand and toggle get grouped for better mobile display -->
					
					{% for Header in FooterHeader %}
					
					 {% if  Header.logo.url != None %}	
				
					<a class="navbar-brand logo_h text-uppercase "  href="/">{{Header.site_name}}<img style="max-height: 80px;padding: 5px;" src="{{Header.logo.url}}" alt=""></a>
			
					 {% else %}
					
					<a class="navbar-brand logo_h" href="/">{{Header.site_name}}</a>
					
					{% endif %}
					{% endfor %}
				
					
				
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
				


					
					
					
					<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav justify-content-end">
						{% for  item in menu %}
						  
						
							<li class="nav-item"><a class="nav-link" href="{{item.url}}">{{item.menu}}</a></li>
						{% endfor %}
						
						
						
						
						
							{% if request.user.is_authenticated %}
           
            
        
          
          <li class="nav-item submenu dropdown " style="list-style: none; text-align: center; min-width: 100px;">
								<a  class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false" style="font-size: large;"><i class="lnr lnr-user"></i></a>
								<ul class="dropdown-menu">
									<li class="nav-item " style="font-size: small;"><a class="nav-link" href="{% url 'accounts:profile' %}">{% trans 'Profile' %}</a></li>
									<li class="nav-item" style="font-size: small;"><a class="nav-link" href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
									
								</ul>
							</li>
          
          
          
          
          
         
          
          
          
          {% else %}
          
          
           <li class="nav-item submenu dropdown " style="list-style: none; text-align: center; min-width: 100px;">
								<a  class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false" style="font-size: large;"><i class="lnr lnr-user"></i></a>
								<ul class="dropdown-menu">
									<li class="nav-item " style="font-size: small;"><a class="nav-link" href="{% url 'login' %}">{% trans "Login" %}</a></li>
									<li class="nav-item" style="font-size: small;"><a class="nav-link" href="{% url 'accounts:signup' %}">{% trans 'Signup' %}</a></li>
									
								</ul>
							</li>
          
            
          {% endif %}
						
						
		
						</ul>
						
						
					
						
						
					
					
					
			</div>	
			
			
			
<!---------- language  form  ------------->
				<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go">
</form>	
<!-------- end language  form  ------->


				</div>
				
			</nav>
		</div>
	</header>
	<!--================ End Header Area =================-->
	<br><br><br>
	
