	{% load static %}
	{% load i18n %}
	<!--================ Start Header Area =================-->

	<header class="header_area">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					
				  
			
					<!-- Brand and toggle get grouped for better mobile display -->
					
					{% for Header in FooterHeader %}
					
					 {% if  Header.logo.url != None %}	
				
					<a class="navbar-brand logo_h text-uppercase" href="/">{{Header.site_name}}<img src="{{Header.logo.url}}" alt=""></a>
			
					 {% else %}
					
					<a class="navbar-brand logo_h" href="/">{{Header.site_name}}</a>
					
					{% endif %}
					{% endfor %}
				
					
				
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
					<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav justify-content-end">
						{% for  item in menu %}
						  
						
							<li class="nav-item"><a class="nav-link" href="{{item.url}}">{{item.menu}}</a></li>
						{% endfor %}
						
						
						
						
		
						</ul>
						
						
						
						
						
					</div>
					
						{% if request.user.is_authenticated %}
           
            
          <div class="linx">
          
          <button style="margin-left: 9px;" type="button" class="btn "><a href="{% url 'accounts:profile' %}" class="nav-link"><span>{% trans 'Profile' %}</span></a></button>
          
          
          
           <button style="margin-left: 9px;" type="button" class=" btn "><a href="{% url 'logout' %}" class="nav-link"><span>{% trans 'Logout' %}</span></a></button>
          
          
          
          {% else %}
          
          <button style="margin-left: 9px;" type="button" class="btn  "><a href="{% url 'login' %}" class="nav-link"><span>{% trans "Login" %}</span></a></button>
          
          
          <button style="margin-left: 9px;" type="button" class="btn  "><a href="{% url 'accounts:signup' %}" class="nav-link"><span>{% trans 'Signup' %}</span></a></button>
          
          
          
            
          {% endif %}
			</div>		
					
				</div>
			</nav>
		</div>
	</header>
	<!--================ End Header Area =================-->
	<br><br><br>
	
