/* DASHBOARD */
[dir="rtl"] .admin-interface #main.shifted>#nav-sidebar {
    padding: 10px !important;
    background: #0d344b!important;
    border-left: 1px solid #eaeaea;
    margin-right: 0px !important;
    /* padding: 40px 0px 40px 40px !important; */
}

.dashboard .module table th {
    width: 100%;
}

.dashboard .module table td {
    white-space: nowrap;
}

.dashboard .module table td a {
    display: block;
    padding-right: .6em;
}

/* RECENT ACTIONS MODULE */

.module ul.actionlist {
    margin-left: 0;
}

ul.actionlist li {
    list-style-type: none;
    overflow: hidden;
    text-overflow: ellipsis;
}
